<div class="TiffOne-fullscreen-wrapper">
    <div class="TiffOne-fullscreen-contentwrapper">
        <div class="TiffOne-fullscreen-menubar">
            <div class="TiffOne-button-wrapper">
                <div class="TiffOne-button-group TiffOne-buttongroup-topright">
                    <button name="exitTiffFullScreen">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="TiffOne-fullscreen-canvaswrapper">

        </div>
    </div>
</div>
