<div class="TiffOne-viewer">
    <div class="TiffOne-menubar">
        <div class="TiffOne-button-wrapper">
            <div class="TiffOne-button-group">
                <button name="tiffPrint">
                    <i class="fa fa-print"></i>
                </button>
                <!-- <button>
                        <i class="fas fa-arrow-down"></i>
                    </button> -->
            </div>

            <div class="TiffOne-button-group">
                <button name="tiffPageChange" value="previousPage">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <select name="tiffPageIndicator" class="TiffOne-page-indicator">

                </select>
                <!-- <input name="tiffPageIndicator" class="tiff-page-indicator" value="1" disabled> -->
                <button name="tiffPageChange" value="nextPage">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>

            <div class="TiffOne-button-group">
                <button name="tiffFullScreen">
                    <i class="fa fa-expand"></i>
                </button>
            </div>
        </div>
    </div>
</div>
