<div class="tiff-viewer">
    <div class="menu-bar">
        <div class="button-wrapper">
            <div class="button-group">
                <button>
                    <i class="fas fa-print"></i>
                </button>
                <!-- <button>
                        <i class="fas fa-arrow-down"></i>
                    </button> -->
            </div>

            <div class="button-group">
                <button>
                    <i class="fas fa-arrow-left"></i>
                </button>
                <input name="current-page" class="tiff-page-indicator" value="1">
                <button>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
