<div class="TiffOne-viewer">
    <div class="TiffOne-menubar">
        <div class="TiffOne-button-wrapper">
            <div class="TiffOne-button-group">
                <div class="TiffOne-Button TiffOne-Menubar-Button" name="tiffPrint">
                    <i class="fa fa-print" name="tiffPrint"></i>
                </div>
                <!-- <button>
                        <i class="fas fa-arrow-down"></i>
                    </button> -->
            </div>

            <div class="TiffOne-button-group">
                <div class="TiffOne-Button TiffOne-Menubar-Button" name="tiffPageChange" value="previousPage">
                    <i class="fa fa-arrow-left" name="tiffPageChange"></i>
                </div>

                <select name="tiffPageIndicator" class="TiffOne-page-indicator">
                </select>

                <!-- <input name="tiffPageIndicator" class="tiff-page-indicator" value="1" disabled> -->
                <div class="TiffOne-Button TiffOne-Menubar-Button" name="tiffPageChange" value="nextPage">
                    <i class="fa fa-arrow-right" name="tiffPageChange"></i>
                </div>
            </div>

            <div class="TiffOne-button-group">
                <div class="TiffOne-Button TiffOne-Menubar-Button" name="tiffFullScreen">
                    <i class="fa fa-expand" name="tiffFullScreen"></i>
                </div>
            </div>
        </div>
    </div>
</div>
