

.TiffOne-viewer {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    width: fit-content;
    /* background-color: yellow; */
}

.TiffOne-viewer .TiffOne-canvas-wrapper {
    background-color: darkgray;
    overflow: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.TiffOne-viewer .TiffOne-canvas {
    max-width: 100%;
    /* max-height: 100%; */
}

.TiffOne-viewer .TiffOne-menubar {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 0;

    background-color: #fafafa;
    width: 100%;
    /* height: 25px; */
    /* height: 1.5em; */
}

.TiffOne-viewer .TiffOne-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    margin: 0 1em;
}

.TiffOne-viewer .TiffOne-button-group {
    margin: 0 0.7em;
    height: 1.5em;
    display: flex;
    /* margin: auto; */
}

.TiffOne-viewer .TiffOne-button-wrapper .TiffOne-Menubar-Button {
    height: 100%;
    width: 2.2em;
    margin: 0 0.05em;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    background-color: #fff;

    border: 1px solid var(--TiffOne-accent-color);
    border-radius: 2px;
    box-sizing: border-box;

    cursor: pointer;
}


.TiffOne-viewer .TiffOne-button-wrapper .TiffOne-Menubar-Button:hover {
    color: white;
    background-color: var(--TiffOne-accent-color);
}

.TiffOne-viewer .TiffOne-button-wrapper .TiffOne-Menubar-Button > * {
    pointer-events: none;
}

.TiffOne-viewer .TiffOne-page-indicator {
    width: auto;
    min-width: 2.5em;
    height: 100%;
    margin: 0 0.05em;

    text-align: center;

    color: black;
    background-color: #fff;

    border: 1px solid var(--TiffOne-accent-color);
    border-radius: 2px;
    box-sizing: border-box;
}
