body {
    width: 20em;
    height: 10em;

    background-color: #fafafa;
}

.wrapper {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

.switch-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-logo {
    height: 1em;
    padding: 0 0.2em;
}

.title-bar {
    display: flex;
    align-items: center;

    font-size: 1.5em;

    /* margin: 0.5em; */
    padding: 0;
    color: var(--TiffOne-accent-color);
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--TiffOne-accent-color);
    margin: 0.5em;
}

.color-error {
    color: var(--TiffOne-warning-color);
}


.color-warning {
    color: var(--TiffOne-error-color);
}

.color-ok {
    color: var(--TiffOne-ok-color);
}


.switch {
    margin: 0.5em;
}

/* Hide default HTML checkbox */
.switch input {

    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: var(--TiffOne-switch-transition-time);
    transition: var(--TiffOne-switch-transition-time);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: var(--TiffOne-switch-transition-time);
    transition: var(--TiffOne-switch-transition-time);
}

input:checked+.slider {
    background-color: var(--TiffOne-accent-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--TiffOne-accent-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
